{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link 
    href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
    rel="stylesheet" 
  />
  <link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
  <script 
    src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
  >
  </script>
  <link 
    rel="stylesheet" 
    type="text/css" 
    href="{% static 'css/rats/rat-detail.css' %}"
  />
  <script defer src="{% static 'js/rat-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="rat-container">
  <div class="rat-img">
  </div>
  <div class="rat-details">
    <h1>{{ rat.name }}</h1>
    <h3>He was spotted in {{rat.location}}</h3>
    <p>{{ rat.name }} is a {{rat.color}} colored rat.</p>
    <p>{{ rat.description }}</p>
    <div class="rat-actions">
      <a href="{% url 'rats_update' rat.id %}" class="btn warn">Edit</a>
      <a href="{% url 'rats_delete' rat.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
  </div>
</section>

<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
    </div>
    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add_feeding' rat.id %}" 
      method="post" 
      class="subsection-content"
    >
    {% if rat.fed_for_today %}
        <p class="fed">{{rat.name}} has been fed all their meals for today!</p>
      {% else %}
        <p class="unfed">{{rat.name}} might be hungry!</p>
      {% endif %}
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <h3>Past Feedings</h3>
    <table>
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in rat.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <section class="toys">
    <div class="subsection-title">
      <h2>Traits</h2>
    </div>
    <h3>{{ rat.name }}'s Traits</h3>
    <div class="subsection-content">
      {% if rat.traits.count %}
        {% for traits in rat.traits.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ trait.color }}"
            ></div>
            <a href="{% url 'traits_detail' trait.id %}">
              <p>A {{ trait.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">{{rat.name}} doesn't have any traits 😞</p>
      {% endif %}
    </div>
    <h3>Available Traits</h3>
    <div class="subsection-content">
      {% if traits.count %}
        {% for trait in traits.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ trait.color }}"
            ></div>
            <a href="{% url 'traits_detail' trait.id %}">
              <p>A {{ trait.name }}</p>
            </a>
            <form action="{% url 'assoc_trait' rat.id trait.id %}"  method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give trait</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-toys">
          {{rat.name}} already has all the available traits
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}